DATABASE_URL=postgresql://utilisateur:motdepasse@hote:5432/nom_de_la_base

ADMIN_USERNAME=admin
ADMIN_PASSWORD=changez_ce_mot_de_passe

KKIAPAY_PUBLIC_KEY=votre_cle_publique_kkiapay
KKIAPAY_PRIVATE_KEY=votre_cle_privee_kkiapay
KKIAPAY_SECRET=votre_secret_kkiapay
KKIAPAY_SANDBOX=true

NODE_ENV=production
